* {
  box-sizing: border-box;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body {
  border: 2px #f1f1f1 solid;
  margin: 40px auto;
  max-width: 1000px; /* Max width */
  padding: 20px;
}


.title {
  font-size: 25px;
  margin-right: 25px;
}

.bar_container {
  background-color: #f1f1f1;
  width: 100%;
  text-align: center;
  color: white;
}

.fa {
  font-size: 25px;
}

.checked {
  color: orange;
}

.left {
  float: left;
  width: 15%;
  margin-top: 10px;
}

.middle {
  float: left;
  width: 70%;
  margin-top: 10px;
}

.row:after {
  content: "";
  display: table;
  clear: both;
}
.right {
  text-align: right;
}

.bar1 {width: 60%; height: 18px; background-color: #04AA6D;}
.bar2 {width: 30%; height: 18px; background-color: #2196F3;}
.bar3 {width: 10%; height: 18px; background-color: #00bcd4;}
.bar4 {width: 4%; height: 18px; background-color: #ff9800;}
.bar5 {width: 15%; height: 18px; background-color: #f44336;}


@media (max-width: 400px) {
  .side, .middle {
    width: 100%;
  }
  /* Hide the right column on small screens */
  .right {
    display: none;
  }
}