* {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body {
  margin-left: 15%;
  margin-right: 15%;
  background-color: wheat;
}

.main {
  background-color: cadetblue;
  border-radius: 30px;
}

h1 {
  text-align: center;
  background-color: lightskyblue;
  padding: 30px;
  border-radius: 30px 30px 0 0;
}

.btn {
  border: 3px solid coral;
  border-radius: 90px;
  padding: 20px;
  background-color: mistyrose;
  margin: 5px;
}

.btn:hover {
  border: 3px solid orange;
}

.btn img {
  width: 120px;
}

.btn_container {
  display: flex;
  justify-content: center;

}

#winner {
  margin-top: 60px;
  background-color: lightcoral;
  padding: 10px 10px 20px 10px;
  font-size: 20px;
  text-align: center;
}

.score {
  background-color: rgb(155, 74, 231);
  border-radius: 0 0 30px 30px;
  display: flex;
  justify-content: space-around;
}