* {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  text-align: center;
}

body {
  background-color: rgb(32, 32, 32);
  color: white;
}

.choices-button, .reset-button {
  height: 100px;
  width: 100px;
  border: none;
  margin: 10px;
  border-radius: 50%;
  cursor: pointer;
  background-color: bisque;
}

.choices-button:active, .reset-button:active {
  opacity: 0.85;
}

.choices-image {
  height: 70px;
}

.reset-image {
  height: 50px;
}

.reset-button {
  background-color: burlywood;
}