* {
  font-size: 40px;
  font-weight: bold;
}

#calculator {
  border: 2px lightgray solid;
  border-radius: 5px;
  height: 80vh;
  width: 70vw;
  margin-left: 10%;
  margin-right: 10%;
}

#display {
  margin: 20px 20px 5px 20px;
  width: 87%;
  height: 8%;
  border-radius: 4px;
  text-align: right;
}

#button_container {
  margin: 25px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.btn {
  width: 70px;
  height: 70px;
  margin: 5px;
}

#evalButton {
  width: 100%;
}