* {
  font-size: 20px;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  color: white;
}

body {
  background-color: #242729;
}

.btn {
  padding: 8px 15px;
  margin-right: 10px;
}

#btn1 {
  background-color: #3ca71a;
  border: none;
  border-radius: 15px;
}
#btn2 {
  background-color: lightcoral;
  border: 2px black solid;
  border-radius: 15px;
}
#btn3 {
  background-color: #3ca71a;
  border: none;
  border-radius: 15px;
}