.card {
  max-width: 300px;
  text-align: center;
  margin: auto;
  box-shadow: 0 4px 4px 0 lightgray;
  font-family: arial; 
}

#heading {
  text-align: center;
}
.title {
  color: grey;
  font-size: 18px;
}

a {
  color: black
}

.icon {
  color: black;
}

#contact-btn {
  width: 100%;
  padding: 8px;
  color: white;
  background-color: black;
  border: none;
}

#contact-btn:hover, a {
  opacity: 0.7;
}