* {
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  background-color: rgb(51, 50, 50);
  color: white;
}

h1 {
  text-align: center;
}

.todo-grid {
  display: grid;
  grid-template-columns: 200px auto 100px;
  column-gap: 15px;
  row-gap: 10px;
  margin-top: 20px;
  align-items: center;
}

#todo-input, #todo-date {
  padding: 10px;
  font-size: 15px;
  border: rgb(11, 162, 173) 2px solid;
  border-radius: 30px;
}

.btn-add {
  padding: 10px;
  background-color: green;
  border: none;
  border-radius: 30px;
}

.btn-delete {
  padding: 10px;
  background-color: rgb(170, 0, 0);
  border: none;
  border-radius: 30px;
}

button:hover {
  opacity: 0.85;
}

button:active {
  border: 2px cyan solid;
}